.whole {
    display: flex;
    margin-top: 50px;
}
.highlight{
    color: gold;
    text-shadow: 0px 0px 5px white;
}
.aboutme {
    margin-top: 200px;
    color: white;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

.aboutme h1{
    animation: appear1 linear;
    animation-timeline: view();
    margin: 0;
    
}

.left {  
    font-size: 1.5rem;
    margin-top: 10px;
    max-width: 50%;
    padding-right: 100px;
    animation: appear1 linear;
    animation-timeline: view();
}

.right {
    display: flex;
    max-width: 50%;
}

.pic2 {
    max-height: 500px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}

@keyframes appear1 {
    0%{
        opacity: 0;
    }
    70% {
        opacity: 1;
    } 
    90%{
        opacity: 0;
    }   
}

.im {
    max-width: 150px;
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
}


.im:hover {
    z-index: 1;
    transform: translateY(-50px);
    opacity: 1;
}
.right .im {
    opacity: 1;
}

.right:hover .im {
    opacity: 0.4;
}

.right .im:hover {
    opacity: 1;
}
.num_info{
display: flex;
justify-content: center;
gap: 100px;
}
.insta h1{
    animation: none;
    color: silver;
}
.linkedin h1{
    animation: none;
    color: silver;
    display: flex;
    justify-content: center;
}
.count{
    font-size: 1.2rem;
    min-width: 100px;
}
