.extra-section {
    padding: 50px 20px;
    text-align: center;
}

.extra-title {
    font-size: 2.5rem;
    font-weight: bold;
    color:whitesmoke;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid #ffb400;
    display: inline-block;
    padding-bottom: 5px;
}

.all-achievements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
    animation: faded1 ease-in-out;
    animation-timeline: view();
}

@media (max-width: 768px) {
    .all-achievements {
        grid-template-columns: 1fr;
    }
}
@keyframes faded1 {
    0%{
        opacity: 0;
        scale: 0;
    }
    30%{
        opacity: 1;
        scale: 1;
    }
}
