.main_head{
    width: 100%;
    position: fixed;
    color: white;
    display:flex;
    background-color: rgb(38, 50, 56);
    opacity: 0.95;
    z-index: 1;
}

ul{
    position: absolute;
    right: 5%;
    display: flex;
}

li{
    cursor: pointer;
    color: gold;
    list-style: none;
    padding: 10px;
    margin:10px;
    margin-left: 20px;
    border-bottom: 1px solid rgb(38, 50, 56);
}

li:hover{
    border-bottom: 1px solid gold;
    transition: 1s;
}
.logo{
    height: 50px;
    margin: 20px;
    margin-left:10%;
}

