
.card{
    color: white;
    height: 250px;
    background-color: silver;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
}
.card h1{
    font-size: 1rem;
    color: black;
}

.card p{
    font-size: 1rem;
    color: black;
}