.info{
    animation: appear ease-in-out;
    animation-timeline: view();
}
.pro{
    animation: faded2 ease-in-out;
    animation-timeline: view();
}
a{
    text-decoration: none;
}
@keyframes appear {
    0% {
        transform: translateX(-1000px);
        scale: 0;
        opacity: 0;
    }
    50%{
        transform: translateX(0px);
        scale: 1;
        opacity: 1;        
    }
}

@keyframes faded2 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
}